

.Brand{
    display: flex;
    align-items: center;
}
.Brand h3{
    color: #2976AA;
}
.Brand img{
    width: 68px;
}
.appBar-style{
    background-color: white;
}
.responsive-menu a {
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 10px;
}
.navigation a{
    text-decoration: none;
    padding: 0px 30px;
    font-size: 16px;
    color: #2a2a2a;
    font-weight: bold;
}